<ares-layout-dashboard-hero class="mb-3"></ares-layout-dashboard-hero>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
      <div class="row">
      <!--
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-2">
          <ares-layout-dashboard-pinned-articles [articles]="pinned"></ares-layout-dashboard-pinned-articles>
        </div>
      -->

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2">
          <ares-layout-dashboard-article-slider [articles]="articles"></ares-layout-dashboard-article-slider>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2">
          <ares-layout-dashboard-friends [friends]="friends" [pagination]="friendsPagination"></ares-layout-dashboard-friends>
        </div>
<     <!--
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3 mb-2">
          <ares-layout-dashboard-rooms></ares-layout-dashboard-rooms>
        </div>
        -->
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <iframe src="https://discordapp.com/widget?id=711229509071798294&theme=dark" width="450" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
      </div>
    </div>
  </div>
</div>
