.ares--hero {
  background-image: url('../../../assets/images/hero/picasso.png');
  background-repeat: no-repeat;
  background-position: center 100%;

  & > .container {
    padding-top: 8rem;

    & > span {
      opacity: .7;
    }
  }

  #asteroids {
    background-image: url('../../../assets/images/hero/asteriods.png');
    background-repeat: no-repeat;
    background-position: -1rem -1rem;
    background-size: 77%;
    height: 13rem;
    width: 25rem;
    mix-blend-mode: luminosity;
    position: absolute;
    left: 0;
  }

  #room {
    background-image: url('../../../assets/images/hero/room.png');
    background-repeat: no-repeat;
    height: 13rem;
    width: 47rem;
    mix-blend-mode: luminosity;
    position: absolute;
    right: 0;
  }
}

.user--figure {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 6.75rem;
  background-position: center -2rem;
  border: 3px solid #6a2932;
  height: 6.6rem;
  box-shadow: inset 0 0 6px 2px rgb(0 0 0 / 58%);
}

.user-name {
  background: transparent linear-gradient(0deg, #8B0E26 0%, #FF1744 100%) 0% 0% no-repeat padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #FF1744;
}

.experience-bar {
  border: 1px solid #A51A33;
  background-color: #6A2932;
  border-bottom: 2px solid #A51A33;
  height: 1.25rem;
  font-size: 1rem;

  & > .progress-bar {
    background-color: #40131A;
    color: #a7a7a7;
  }
}

.user--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;

  & > .img-wrapper {
    min-height: 32px;

    & > img {
      width: fit-content;
    }
  }

  & > p {
    padding-top: .6rem;
  }

  &.credits {
    color: #F4AB53;
  }

  &.diamonds {
    color: #82D6DB;
  }

  &.duckets {
    color: #CF58B9;
  }
}

@media (max-width: 768px) {
  .ares--hero {
    #asteroids {
      display: none;
    }

    #room {
      display: none;
    }
  }
}
