<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.png" alt='{{ hotelName }}' title='{{ hotelName }}'/>
    </a>

    <button class="navbar-toggler" (click)="toggle()" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link icon icon--dashboard" routerLink='dashboard' routerLinkActive="active">Dashboard</a>
        </li>
      <!--
        <li class="nav-item">
<<<<<<< HEAD
          <a class="nav-link icon--articles" routerLink="community/article/1" routerLinkActive="active" translate='NAVIGATOR.NEWS'></a>
=======
          <a class="nav-link icon icon--articles" routerLink="articles" routerLinkActive="active" translate='NAVIGATOR.NEWS'></a>
>>>>>>> upstream/master
        </li>
      
        <li class="nav-item">
          <a class="nav-link icon icon--community" routerLink="community" routerLinkActive="active" translate='NAVIGATOR.COMMUNITY'></a>
        </li>

        <li class="nav-item">
          <a class="nav-link icon icon--employees" routerLink='employees' routerLinkActive="active" translate='NAVIGATOR.EMPLOYEES'></a>
        </li>

        <li class="nav-item">
          <a class="nav-link icon icon--settings" routerLink='settings' routerLinkActive="active" translate='NAVIGATOR.SETTINGS'></a>
        </li>
      -->
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='download' routerLinkActive="download">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='logout' routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
