.article--slider .swiper-pagination {
  right: 1.5rem !important;
  top: 1rem !important;
  text-align: right !important;
}


.article {
  height: 16.5rem !important;
  overflow-y: hidden !important;

  & .article--info {
    .article--user {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      margin-right: 12px;
      border: 1px solid #1e2023;

      & > img {
        image-rendering: pixelated;
        margin-top: -4px;
      }

      & > #frank {
        width: 2rem;
        height: 5rem;
        object-fit: contain;
        margin-top: -.9rem;
      }
    }

    & > span {
      flex: auto;
      font-size: 14px;
      font-weight: 400;
    }

    & .article--date {
      font-weight: 400;
      color: #D7D7D7;
      font-size: 14px;
    }
  }

  & .article--thumb {
    background-color: #DDE0E4;
    height: 80px;
    border-radius: 5px;
    position: relative;

    & > img {
      width: 100%;
      object-fit: cover;
      height: 80px;
    }
  }

  & .article--title {
    margin-top: 1rem;
    margin-bottom: 0;
    color: #FFFFFF;
    font-weight: 600;
  }

  & .article--description {
    color: #D7D7D7;
    font-size: 14px;
    font-weight: 300;
  }
}

.btn-danger {
  padding: .5rem 1.5rem;
  font-weight: 600;
}
