<div class="row h-100">
  <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
    <div class="container h-100 w-75 d-flex flex-column">
      <div class="d-flex h-100 flex-column justify-content-center">
        <div class="d-flex mb-3 mt-5 mt-xl-0 mt-lg-0">
          <img draggable="false" src="assets/images/logo.png" class="flex-fill" id="logo" alt="Logo" />
          <ares-language-selector class="align-self-center"></ares-language-selector>
        </div>

        <form [formGroup]="authForm" (submit)="onSubmit()">
          <div class="mb-3">
            <label for="username" class="form-label" [translate]="'HOME.FORM.INPUT.USERNAME.LABEL'"></label>
            <input type="text" id="username" class="form-control p-4" formControlName="username" required
                   autocomplete="username" aria-describedby="usernameHelp" />
            <div id="usernameHelp" class="form-text" [translate]="'HOME.FORM.INPUT.USERNAME.HELP'"></div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label" [translate]="'HOME.FORM.INPUT.PASSWORD.LABEL'"></label>
            <input type="password" id="password" class="form-control p-4" formControlName="password" required
                   autocomplete="current-password"/>
          </div>

          <button class="btn btn-danger w-100 mt-2" [translate]="'HOME.FORM.BUTTON'"></button>
        </form>
      </div>

      <div class="d-inline-flex justify-content-center mt-4 mt-xl-0 mt-lg-0 pb-3">
        <a id="register-anchor" routerLink="/register" [innerHTML]="'HOME.REGISTER' | translate: { hotelName: hotelName }"></a>
      </div>
    </div>
  </div>

  <div class="col-xl-7 col-lg-7 d-xxl-block d-xl-block d-lg-block d-none bg-red">
    <div class="container d-flex h-100 flex-column justify-content-center">
      <div id="homeCarousel" class="carousel slide h-100 p-5" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#homeCarousel" data-slide-to="1" ></li>
          <li data-target="#homeCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner h-100">
          <div class="carousel-item active">
            <img src="assets/images/rooms/default.png" class="d-block w-75 mx-auto" alt="...">
            <div class="carousel-caption d-block">
              <h5>Build Amazing Rooms!</h5>
              <p>The furniture catalogue at Global has everything you need for your next masterpiece!</p>
            </div>
          </div>

          <div class="carousel-item">
            <img src="assets/images/rooms/vip.png" class="d-block w-75 mx-auto" alt="...">
            <div class="carousel-caption d-block">
              <h5>Make New Friends!</h5>
              <p>Come and join our friendly community and meet new people!</p>
            </div>
          </div>

          <div class="carousel-item">
            <img src="assets/images/rooms/default.png" class="d-block w-75 mx-auto" alt="...">
            <div class="carousel-caption d-block">
              <h5>Enter Our Competitions!</h5>
              <p>We always have some form of competition on the go at Global!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
