button {
  &:focus {
    outline: unset !important;
  }
}

.close {
  background-image: url('/assets/images/icons/modal/close.png');
  background-repeat: no-repeat;
  background-color: var(--modal-close-bg) !important;
  background-size: 50%;
  background-position: center;
  transition: 0.25s all;
  border-radius: 50rem;
  opacity: 1;
  height: 2rem;
  float: right;
  width: 2rem;
  position: absolute;
  right: .5rem;
  top: .5rem;

  &:hover,
  &:focus {
    opacity: .9;
  }
}

.btn {
  color: #fff;
  transition: all .2s ease-in-out;
  font-weight: 600;

  &:focus {
    animation: btnEffect 1s;
  }

  &:active {
    transform: scale(0.9);
  }

  &:focus,
  &:hover {
    box-shadow: 0px 1px 3px 0px rgba(0, 6, 33, 0.5), 0 0 0 3px rgba(0, 0, 0, 0.2);
  }

  &:active:focus {
    box-shadow: 0px 1px 3px 0px rgba(0, 6, 33, 0.5), 0 0 0 3px rgba(0, 0, 0, 0.2) !important;
  }

  &.btn-lang {
    background-color: var(--main-bg-gray);
    color: #fff;
    padding: .5rem 1rem .5rem .5rem;

    &:hover {
      background: #FF1744;
      color: #fff;
    }
  }

  &.btn-danger {
    padding: .8rem;

    background-color: unset;
    background: linear-gradient(to top, var(--btn-danger-primary) 50%, var(--btn-danger-secondary) 50%);
    border-color: var(--btn-danger-primary);
    border-width: 4px;
    border-style: solid;

    &:active {
      background-color: transparent !important;
      border-color: var(--btn-danger-primary) !important;
    }
  }

  &.btn-client {
    background: linear-gradient(to top, #51c452 50%, #66cd67 50%);
    border: 4px solid #51c452;
    color: #fff !important;
  }

  &.btn-desktop {
    background: linear-gradient(to top, #51c4bf 50%, #51b9c4 50%);
    border: 4px solid #51c4bf;
    color: #fff !important;
    margin-top: 5px;
  }
}

@keyframes btnEffect {
  0% {
    box-shadow: 0 1px 3px 0 rgba(0, 6, 33, 0.5), 0 0 0 3px rgba(0 0 0 / 20%), 0 0 0 6px rgba(30 30 30 / 85%); }
  100% {
    box-shadow: 0 1px 3px 0 rgba(0, 6, 33, 0.5), 0 0 0 3px rgba(0, 0, 0, 0.2), 0 0 0 1920px transparent; }
}
