$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

/* titillium-web-200 - latin */
@font-face {
font-family: 'Titillium Web';
font-style: normal;
font-weight: 200;
src: url('/assets/fonts/titillium-web-v8-latin-200.eot'); /* IE9 Compat Modes */
src: local('Titillium Web ExtraLight'), local('TitilliumWeb-ExtraLight'),
        url('/assets/fonts/titillium-web-v8-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/titillium-web-v8-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-200.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/titillium-web-v8-latin-200.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-200italic - latin */
@font-face {
font-family: 'Titillium Web';
font-style: italic;
font-weight: 200;
src: url('/assets/fonts/titillium-web-v8-latin-200italic.eot'); /* IE9 Compat Modes */
src: local('Titillium Web ExtraLight Italic'), local('TitilliumWeb-ExtraLightItalic'),
        url('/assets/fonts/titillium-web-v8-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/titillium-web-v8-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-200italic.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/titillium-web-v8-latin-200italic.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-300 - latin */
@font-face {
font-family: 'Titillium Web';
font-style: normal;
font-weight: 300;
src: url('/assets/fonts/titillium-web-v8-latin-300.eot'); /* IE9 Compat Modes */
src: local('Titillium Web Light'), local('TitilliumWeb-Light'),
        url('/assets/fonts/titillium-web-v8-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/titillium-web-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-300.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/titillium-web-v8-latin-300.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-300italic - latin */
@font-face {
font-family: 'Titillium Web';
font-style: italic;
font-weight: 300;
src: url('/assets/fonts/titillium-web-v8-latin-300italic.eot'); /* IE9 Compat Modes */
src: local('Titillium Web Light Italic'), local('TitilliumWeb-LightItalic'),
        url('/assets/fonts/titillium-web-v8-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/titillium-web-v8-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-300italic.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/titillium-web-v8-latin-300italic.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-regular - latin */
@font-face {
font-family: 'Titillium Web';
font-style: normal;
font-weight: 400;
src: url('/assets/fonts/titillium-web-v8-latin-regular.eot'); /* IE9 Compat Modes */
src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
        url('/assets/fonts/titillium-web-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/titillium-web-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/titillium-web-v8-latin-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-italic - latin */
@font-face {
font-family: 'Titillium Web';
font-style: italic;
font-weight: 400;
src: url('/assets/fonts/titillium-web-v8-latin-italic.eot'); /* IE9 Compat Modes */
src: local('Titillium Web Italic'), local('TitilliumWeb-Italic'),
        url('/assets/fonts/titillium-web-v8-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/titillium-web-v8-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-italic.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/titillium-web-v8-latin-italic.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-600 - latin */
@font-face {
font-family: 'Titillium Web';
font-style: normal;
font-weight: 600;
src: url('/assets/fonts/titillium-web-v8-latin-600.eot'); /* IE9 Compat Modes */
src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
        url('/assets/fonts/titillium-web-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/titillium-web-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-600.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/titillium-web-v8-latin-600.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-700 - latin */
@font-face {
font-family: 'Titillium Web';
font-style: normal;
font-weight: 700;
src: url('/assets/fonts/titillium-web-v8-latin-700.eot'); /* IE9 Compat Modes */
src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'),
        url('/assets/fonts/titillium-web-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/titillium-web-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-700.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/titillium-web-v8-latin-700.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-600italic - latin */
@font-face {
font-family: 'Titillium Web';
font-style: italic;
font-weight: 600;
src: url('/assets/fonts/titillium-web-v8-latin-600italic.eot'); /* IE9 Compat Modes */
src: local('Titillium Web SemiBold Italic'), local('TitilliumWeb-SemiBoldItalic'),
        url('/assets/fonts/titillium-web-v8-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/titillium-web-v8-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-600italic.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/titillium-web-v8-latin-600italic.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-900 - latin */
@font-face {
font-family: 'Titillium Web';
font-style: normal;
font-weight: 900;
src: url('/assets/fonts/titillium-web-v8-latin-900.eot'); /* IE9 Compat Modes */
src: local('Titillium Web Black'), local('TitilliumWeb-Black'),
        url('/assets/fonts/titillium-web-v8-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/titillium-web-v8-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-900.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/titillium-web-v8-latin-900.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-700italic - latin */
@font-face {
font-family: 'Titillium Web';
font-style: italic;
font-weight: 700;
src: url('/assets/fonts/titillium-web-v8-latin-700italic.eot'); /* IE9 Compat Modes */
src: local('Titillium Web Bold Italic'), local('TitilliumWeb-BoldItalic'),
        url('/assets/fonts/titillium-web-v8-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/titillium-web-v8-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-700italic.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/titillium-web-v8-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/titillium-web-v8-latin-700italic.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
