.form-control {
  background-color: #292B2F;
  border-radius: 2px;
  border: 1px solid #292B2F;
  transition: .25s all;
  color: #fff;

  &:focus {
    border-color: transparent;
    box-shadow: unset;
    background-color: #303235;
    color: #fff;
  }

  &.ng-touched {
    &.ng-invalid {
      border: 1px solid #b41030;
    }
  }
}

.ng-dirty.ng-invalid:not(form) {
  border: 1px solid #b41030;
}
