.ares--sprite {
  background-image: url('/assets/images/sprites.png');
  image-rendering: pixelated;

  &.credits {
    background-position: 2.9rem 6px;
    height: 3rem;
    width: 3rem;
  }

  &.diamonds {
    background-position: 8.5rem 0;
    height: 3rem;
    width: 4.8rem;
  }

  &.duckets {
    background-position: 13.2rem 0;
    height: 3rem;
    width: 2.5rem;
  }
  &.employee {
    background-position: 21.2rem 0;
    height: 3rem;
    width: 2.5rem;
  }
  &.clock {
    background-position: 2.5rem -27.6em;
    height: 1.4rem;
    width: 2.5rem;
  }
  &.date {
    background-position: 1.2rem -6.35rem;
    height: 20px;
    width: 20px;
  }
}

.ares--icon {
  background-image: url('/assets/images/icons/ares.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.icons--key::before {
  content: " ";
  display: block;
  background-image: url('/assets/images/icons/key.png');
  background-repeat: no-repeat;
  background-size: 2.2rem;
  background-position: center center;
  width: 1rem;
  height: 2.5rem;
  padding-right: 3.5rem;
  margin-top: -6px;
}

.icon--gift {
  background-image: url('/assets/images/icons/gift.png');
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.icon--dashboard {
  background-image: url('/assets/images/icons/dashboard.png');
  background-repeat: no-repeat;
}

.icon--articles {
  background-image: url('/assets/images/icons/articles.png');
  background-repeat: no-repeat;
}

.icon--community {
  background-image: url('/assets/images/icons/community.png');
  background-repeat: no-repeat;
}

.icon--employees {
  background-image: url('/assets/images/icons/employees.png');
  background-repeat: no-repeat;
}

.icon--settings {
  background-image: url('/assets/images/icons/settings.png');
  background-repeat: no-repeat;
}

.icon--lang-de {
  background-image: url('/assets/images/icons/lang/de.png');
  background-repeat: no-repeat;
  height: 32px;
  width: 22px;
}

.icon--lang-en {
  background-image: url('/assets/images/icons/lang/en.png');
  background-repeat: no-repeat;
  height: 31px;
  width: 23px;
}

.icon--lang-tr {
  background-image: url('/assets/images/icons/lang/tr.png');
  background-repeat: no-repeat;
  height: 32px;
  width: 22px;
}

.icon--lang-it {
  background-image: url('/assets/images/icons/lang/it.png');
  background-repeat: no-repeat;
  height: 32px;
  width: 22px;
  background-size: contain;
  image-rendering: pixelated;
}

.icon--credits {
  background-image: url('/assets/images/icons/credits.png');
  background-repeat: no-repeat;
  height: 32px;
  width: 22px;
}

.icon--xp {
  background-image: url('/assets/images/icons/xp.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 22px;
}
