.bg-red {
  background-color: var(--main-bg-red) !important;
}
.bg-dark-red {
  background-color: var(--main-bg-red-alt) !important;
}
.bg-blue {
  background-color: var(--main-bg-blue) !important;
}
.bg-dark-blue {
  background-color: var(--main-bg-blue-alt) !important;
}

.bg-dark {
  background-color: var(--main-bg-dark) !important;
}

.bg-gray {
  background-color: var(--main-bg-gray) !important;
}

.bg-green {
  background-color: var(--main-bg-green) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.mt-middle {
  margin-top: calc(100vh - 85vh) !important;
}

.text--red {
  color: var(--text-link) !important;
}
