<ares-layout-loader [@loader]="!state"></ares-layout-loader>

<ng-container *ngIf="isAuthenticated; else guest">
  <ares-client></ares-client>

  <ares-header></ares-header>

  <main [@fade]="state">
    <ng-container *ngIf="router.url !== '/client';">
      <router-outlet></router-outlet>
    </ng-container>
  </main>

  <ares-footer></ares-footer>
</ng-container>

<ng-template #guest>
  <main [@fade]="state">
    <router-outlet></router-outlet>
  </main>
</ng-template>
