@import '../../../../styles/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

:host {
  background-image: url('../../../../assets/images/dashboard/tree_left.png'), url('../../../../assets/images/dashboard/tree_right.png'), url('../../../../assets/images/dashboard/hero-bg.png');
  background-repeat: no-repeat;
  background-position: left, right, center;
  background-size: auto, auto, cover;
  min-height: 31rem;
  width: 100vw;
  display: flex;
  position: relative;

  @include media-breakpoint-down(md) {
    background-image: url('../../../../assets/images/dashboard/hero-bg.png');
    background-position: center;
    background-size: cover;
  }

  & > .bg-overlay {
    background-color: var(--dashboard-hero-color) !important;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: inset 0px 15rem 10rem 1rem rgb(0 0 0 / 75%);
  }

  & > .container {
    z-index: 1;
    padding: 0 10rem 0 10rem;
  }

  .user--avatar {
    position: relative;

    & > img {
      position: relative;
      left: -1.5rem;
      top: -1.5rem;
    }
  }

  .user--avatar::after {
    content: '';
    display: block;
    background-image: url('../../../../assets/images/dashboard/plate.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    position: absolute;
    bottom: -3rem;
    left: -5rem;
    height: 10rem;
    width: 20rem;
    z-index: -1;
  }

  .user--info {
    strong {
      font-size: 1.3rem;
    }
  }
}
