:host {
  .ares--hero {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    position: relative;
    box-shadow: inset -3rem 10rem 6rem -5rem rgb(0 0 0 / 65%), inset -3rem -10rem 6rem -5rem rgb(0 0 0 / 65%);
    font-weight: 600;

    .container {
      * {
        z-index: 2;
      }

      .article--title {
        height: 2rem;
        overflow: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100vw - 50vw);
        text-align: center;
      }

      .article--description {
        height: 2rem;
        overflow: hidden;
        margin-top: 0.7em;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100vw - 50vw);
        text-align: center;
      }
    }
  }

  .article--card {
    .card-header {
      line-height: 2rem;
      font-size: 14px;
      font-weight: 600;
      background-color: transparent;

      .author--look {
        background-color: var(--main-bg-dark);
        border-radius: 50rem;
        overflow: hidden;
        height: 2rem;

        img {
          margin-top: -.5rem;
        }
      }

      .article--date {
        position: relative;

        .date {
          position: relative;
          top: .45rem;
        }
      }
    }

    .article--content {
      font-size: 14px;
    }
  }
}
