:host {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 9.5rem;
  background-color: #1B1D20;
  font-size: 15px;
  margin-top: 2rem;
  z-index: 3;
}

hr {
  margin-top: 0;
  margin-bottom: .5rem;
  border-top: 1px solid rgb(165 26 51);
  box-shadow: 0 1px 1px 1px #000000a1;
}

.modal-content p {
  font-size: 14px;
}

.ares--hero {
  background-image: url('../../../assets/images/logo_shadow.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 5rem;
}

strong {
  color: var(--main-bg-blue);
}

.bg-dark {
  background-color: #151719 !important;
}

#ares--lang {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  & > li {
    list-style-type: none;
    background-color: var(--main-bg-gray);
    float: left;
    padding: .6rem .8rem;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 4px;
    transition: all .3s;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3803921568627451);
    height: 3rem;
    max-height: 3rem;

    &:hover,
    &.active {
      background-color: #FF1744;
    }
  }
}
