<img src="assets/images/client/session.gif" />
<p class="mt-4" [innerHTML]="'CLIENT.ACTIVE.DESCRIPTION' | translate"></p>
<div (click)="load()" class="btn btn-danger" [translate]="'CLIENT.ACTIVE.BUTTON'"></div>
