:host {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  z-index: 1000;
  display: flex;
  flex-direction: row;

  & > div {
    cursor: pointer;
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-blue);
    border-radius: 0 5px 5px 0;
    border-width: 2px 2px 2px 1px;
    -webkit-filter: drop-shadow(-1px 4px 0 rgba(0, 0, 0, 0.3));
    filter: drop-shadow(-1px 4px 0 rgba(0, 0, 0, 0.3));
    box-shadow: none;
    position: relative;
    padding: 5px 6px;
    line-height: 1.2;
    text-align: center;
    color: var(--text-normal);
    font-size: 12px;
    border-style: solid;
    text-transform: uppercase;
    opacity: .8;
    height: 1.78rem;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:first-child {
      background-image: url('../../../../assets/images/icons/ares.png');
      background-repeat: no-repeat;
      background-position: .2rem .1rem;
      background-size: 1.3rem;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      width: 2rem;
      transition: 350ms width;
      padding-left: 1.5rem;

      & > span {
        transition: 450ms opacity;
        opacity: 0;
      }

      &:hover,
      &:focus {
        width: 100%;

        & > span {
          opacity: 1;
        }
      }

      &::before {
        content: '';
        position: absolute;
        display: block;
        border-style: solid;
        border-width: 14px;
        top: -.145rem;
        border-color: transparent var(--main-bg-blue) transparent transparent;
        left: -1.8rem;
      }

      &::after {
        top: 0;
        left: -1.5rem;
        border-width: 12px;
        border-color: transparent var(--main-bg-color) transparent transparent;
        content: '';
        position: absolute;
        display: block;
        border-style: solid;
      }
    }

    &:not(:last-child) {
      margin-right: .2rem;
    }
  }
}
