:host {
  background-color: rgba(0 0 0 / 80%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

  #spinner {
    top: 50%;
    left: 50%;
    margin: 0;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;

    #loading-habbo {
      width: 5rem;
      height: 5rem;
      border: 4px solid #fff;
      border-bottom-color: transparent;
      border-radius: 100%;
      /*background-image: url('../../../assets/images/loading.gif');*/
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 10.7rem;
    }
  }
}

@keyframes ball-clip-rotate{
  0%{
    -webkit-transform:rotate(0);
    transform:rotate(0)
  }
  50%{
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg)
  }
  100%{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
  }
}
