<section class="ares--hero bg-blue">
    <div class="container d-flex flex-column justify-content-center align-items-center">
       <h2 class="download--title mb-0">Download The App</h2>
       <h4 class="download--description pb-2">Haven't got our fantastic desktop application yet? Download it here!</h4>
    </div>
</section>
  
<div class="container">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-sm-12">
          <div class="card download--card px-4 py-2">
            <div class="card-header py-3 px-0 mb-2 d-flex flex-row">
                <span class="mr-2 flex-fill">Step 1</span>
            </div>
            <div class="card-body px-0 py-1">
              <div class="download--content" id="s1">
                  Content for Step 1
              </div>
            </div>
          </div>

          <div class="card download--card px-4 py-2 mt-2">
            <div class="card-header py-3 px-0 mb-2 d-flex flex-row">
                <span class="mr-2 flex-fill">Step 2</span>
            </div>
            <div class="card-body px-0 py-1">
              <div class="download--content" id="s2">
                  Content for Step 2
              </div>
            </div>
          </div>

          <div class="card download--card px-4 py-2 mt-2">
            <div class="card-header py-3 px-0 mb-2 d-flex flex-row">
                <span class="mr-2 flex-fill">Step 3</span>
            </div>
            <div class="card-body px-0 py-1">
              <div class="download--content" id="s3">
                  Content for Step 3
              </div>
            </div>
          </div>

          <div class="card download--card px-4 py-2 mt-2">
            <div class="card-header py-3 px-0 mb-2 d-flex flex-row">
                <span class="mr-2 flex-fill">Step 4</span>
            </div>
            <div class="card-body px-0 py-1">
              <div class="download--content" id="s4">
                  Content for Step 4
              </div>
            </div>
          </div>

          <div class="card download--card px-4 py-2 mt-2">
            <div class="card-header py-3 px-0 mb-2 d-flex flex-row">
                <span class="mr-2 flex-fill">Step 5</span>
            </div>
            <div class="card-body px-0 py-1">
              <div class="download--content" id="s5">
                  Content for Step 5
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-xl-4 col-lg-4 col-sm-12">
            <a ng-click="/client" class="btn btn-client w-75 p-2" id="macDl">
                <i class="fab fa-apple"></i>
                Download for macOS
            </a>
            <a routerLink="/client" class="btn btn-client w-75 p-2 mt-3" id="winDl">
                <i class="fab fa-windows"></i>
                Download for Windows
            </a>
        </div>
      </div>
</div>
  