:host {
  .ares--hero {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    position: relative;
    box-shadow: inset -3rem 10rem 6rem -5rem rgb(0 0 0 / 65%), inset -3rem -10rem 6rem -5rem rgb(0 0 0 / 65%);
    background-image: url('../../../assets/images/dashboard/hero-bg.png');
    font-weight: 600;

    .container {
      * {
        z-index: 2;
      }

      .download--title {
        height: 2rem;
        overflow: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100vw - 50vw);
        text-align: center;
      }

      .download--description {
        height: 2rem;
        overflow: hidden;
        margin-top: 0.7em;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100vw - 50vw);
        text-align: center;
      }
    }
  }

  .download--card {
    .card-header {
      line-height: 2rem;
      font-size: 14px;
      font-weight: 600;
      background-color: transparent;
    }

    .download--content {
      font-size: 14px;
    }
  }
}
