/**
  * @template ARES - 2020
  * @author necmi & madness
  * @license GNU General Public License v3.0 <https://gitlab.com/arescms/ares-frontend/-/blob/master/LICENSE>
  */

@import 'styles/variables';

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/grid";
@import "~bootstrap-select/dist/css/bootstrap-select.min.css";

@import "~notyf/notyf.min.css";
@import '~swiper/css/swiper.min.css';

@import 'styles/fonts';
@import 'styles/modals';
@import 'styles/buttons';
@import 'styles/icons';
@import 'styles/alerts';
@import 'styles/cards';
@import 'styles/utilities';
@import 'styles/navbar';
@import 'styles/forms';
@import 'styles/bootstrap-select';

html {
  body {
    height: 100vh;
    background-color: var(--main-bg-color);
    font-family: 'Titillium Web', sans-serif;
    color: var(--text-normal);
    text-shadow: 0 1px 2px rgb(0 0 0 / 55%);
  }
}

main {
  flex: 1;
  position: relative;
}

a {
  color: var(--text-link);
  text-decoration: none;
  transition: color .25s;
  font-weight: 700;

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--text-link-hover);
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 35px;
}

::-webkit-scrollbar-track {
  background: var(--main-bg-dark);
  border-radius: 5rem;
  border: 4px solid transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--main-bg-gray);
  background-clip: padding-box;
  border-right: 4px solid var(--main-bg-dark);
  border-left: 4px solid var(--main-bg-dark);
  border-radius: 5rem;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.ares--logo {
  background-image: url('./assets/images/logo.png');
  background-repeat: no-repeat;
  height: 3.6rem;
  width: 6.5rem;
}

.ares--hero {
  height: 13rem;
  margin-bottom: 1.5rem;
  position: relative;
  background-color: var(--main-bg-blue-alt);

  & > .container {
    height: 100%;
    z-index: 2;
  }
}

/* register */
.register--component {
  background-image: url('./assets/images/register/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

/* article--slider */
.article--slider {
  .swiper-pagination {
    left: unset !important;
    right: 1.5rem;
    top: 1rem;
    text-align: right;
  }
}
