.article--slider .swiper-pagination {
  right: 1.5rem !important;
  top: 1rem !important;
  text-align: right !important;
}


.article {
  height: 16.5rem !important;
  overflow-y: hidden !important;

  & .article--info {
    .article--user {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      margin-right: 12px;
      border: 1px solid #1e2023;

      & > img {
        image-rendering: pixelated;
        margin-top: -4px;
      }

      & > #frank {
        width: 2rem;
        height: 5rem;
        object-fit: contain;
        margin-top: -.9rem;
      }
    }

    & > span {
      flex: auto;
      font-size: 14px;
      font-weight: 400;
    }

    & .article--date {
      font-weight: 400;
      color: #D7D7D7;
      font-size: 14px;
    }
  }

  & .article--thumb {
    background-color: #DDE0E4;
    height: 5.5rem;
    border-radius: 5px;
    position: relative;

    & > img {
      width: 100%;
      object-fit: cover;
      height: 5.5rem;
      border-radius: 4px;
      object-position: bottom;
      image-rendering: pixelated;
    }

    & > .article--date {
      position: absolute;
      left: 1.5rem;
      top: .5rem;
      text-shadow: none;
      font-weight: 700;
      font-size: .9rem;

      & > .date {
        background-color: var(--white);
        padding: .5rem;
        word-break: break-all;
        text-transform: uppercase;
        color: #000;
        text-align: center;
        line-height: .8rem;
        border-radius: 4px;

        & > span {
          color: #BC1736;
          display: block;
        }
      }

      & > .time {
        background-color: var(--white);
        color: #000;
        text-align: center;
        line-height: 1rem;
        border-radius: 4px;
        padding: .2rem;
      }
    }
  }

  & .article--title {
    margin-top: 1rem;
    margin-bottom: 0;
    color: #FFFFFF;
    font-weight: 600;
  }

  & .article--description {
    color: #D7D7D7;
    font-size: 14px;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.btn-danger {
  padding: .1rem;
  font-weight: 600;
}
